.mw-dark(@rules) {
  // Automatic dark mode
  // Support Safari: safe for browser to ignore
  // stylelint-disable-next-line plugin/no-unsupported-browser-features
  @media screen and (prefers-color-scheme: dark) {
    html.skin-theme-clientpref-os & {
      // Bugged
      // stylelint-disable-next-line
      @rules();
    }
  }

  // Forced dark mode
  html.skin-theme-clientpref-night & {
    // Bugged
    // stylelint-disable-next-line
    @rules();
  }
}

:root {
  --ilhpp-link-green: #007a5e;
  --ilhpp-link-existing: #1e88e5;
  --ilhpp-link-existing--hover: #2196f3;
  --ilhpp-link-existing--active: #0d47a1;
  --ilhpp-link-existing--visited: #ab47bc;
}

.mw-dark({
  --ilhpp-link-green: #009b78;
  --ilhpp-link-existing: #1e88e5;
  --ilhpp-link-existing--hover: #2196f3;
  --ilhpp-link-existing--active: #42a5f5;
  --ilhpp-link-existing--visited: #ba68c8;
});

@keyframes ilhpp-skeleton-breath {
  0% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  80% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}

@keyframes ilhpp-rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.ilhpp-text-like {
  color: inherit !important;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none !important;
    color: inherit !important;
  }
}

.ilhpp-scroll-locked {
  overflow: hidden;
}

.ilhpp-auto-hyphen {
  &:lang(de),
  &:lang(fi),
  &:lang(sv),
  &:lang(no),
  &:lang(nl),
  &:lang(cy),
  &:lang(is),
  &:lang(pl) {
    hyphens: auto;
  }
}

.ilhpp-extract {
  // HACK: Uses the de-facto standard -webkit-line-clamp to show a fixed number of lines
  //; FIXME: Fix this once becoming a real standard;
  display: -webkit-box;
  -webkit-line-clamp: @lines-shown;
  -webkit-box-orient: vertical;

  // Endpoint's results are usually wrapped in <p>
  p {
    margin: 0;
  }

  // Prevent these 2 from expanding actual line height, causing misalignment with the "more" text
  sub,
  sup {
    line-height: 0;
  }

  // Note: .skin-invert is handled by MW, so there's no worry about black text on dark backgrounds
}

// Fix not displaying on Minerva skin (and MF)
.skin-minerva ul#footer-places.footer-places li#ilhpp-footer-places-settings {
  display: inline-block;
}

@font-size-small: 0.875em;
@font-size-medium: 1em;
@font-size-large: 1.125em;

@border-radius-base: 2px;
@border-width-base: 1px;

@lines-shown: 7;
@more-text-length: 6; // Must keep in sync with the length of ilhpp-more message in messages.json

@popup-margin-wide: 24px;
@popup-margin-base: 16px;
@popup-margin-thin: 8px;

@desktop-popup-pointer-with: 8px;
@desktop-popup-pointer-short-side-length: 20px;
@desktop-icon-width: 18px;
@desktop-icon-height: 18px;
@desktop-popup-line-height: 20px;
@desktop-margin-article-like-icon-align: -2px;
@desktop-margin-icon-text: 8px;
@desktop-text-gradient-width: 6ch;

@mobile-mf-drawer-alpha: 80%; // Sync with MF drawer
@mobile-mf-drawer-opacity: 0.2; // Sync with MF drawer
@mobile-drawer-alpha: @mobile-mf-drawer-alpha * @mobile-mf-drawer-opacity;
@mobile-icon-width: (18rem / 14);
@mobile-icon-height: (18rem / 14);
@mobile-margin-article-like-icon-align: -(2rem / 14);
@mobile-margin-icon-text: 12px;
@mobile-padding-button: 6px;
@mobile-skeleton-stripe-height: 1.5em;
@mobile-skeleton-stripe-gap: 0.75em;
@mobile-ease-in-out-circle: cubic-bezier(0.85, 0, 0.15, 1);
