@import (reference) './base.less';

@keyframes ilhpp-popup-desktop-top-in {
  0% {
    opacity: 0;
    transform: translate(0, -20px);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}


@keyframes ilhpp-popup-desktop-top-out {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }

  100% {
    opacity: 0;
    transform: translate(0, -20px);
  }
}

@keyframes ilhpp-popup-desktop-bottom-in {
  0% {
    opacity: 0;
    transform: translate(0, 20px);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes ilhpp-popup-desktop-bottom-out {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }

  100% {
    opacity: 0;
    transform: translate(0, 20px);
  }
}

/* .pointer(@pos) {
  & when (@pos ='top') {
    bottom: -@pointer-border-width * 2;
  }

  & when (@pos ='bottom') {
    top: -@pointer-border-width * 2;
  }

  & when (@pos ='left') {
    right: @pointer-short-side-length - @pointer-border-width;
  }

  & when (@pos ='right') {
    left: @pointer-short-side-length - @pointer-border-width;
  }
} */

.ilhpp-popup-desktop {
  position: absolute;
  z-index: 110;

  box-shadow: 0 30px 90px -20px rgba(0, 0, 0, 0.3), 0 0 0 1px var(--background-color-neutral, #eaecf0);
  background: var(--background-color-base, #fff);
  border-radius: 2px;
  font-size: 14px;
  hyphens: auto;

  line-height: @popup-line-height;
  width: 300px;

  display: flex;
  flex-direction: column;

  // The "pointer"
  &::before {
    content: '';
    position: absolute;
    border: @popup-pointer-width solid transparent;
    width: 0;
    height: 0;
    pointer-events: none;
  }

  &--top {
    animation: ilhpp-popup-desktop-top-in 0.2s ease forwards;

    &.ilhpp-popup-desktop--out {
      animation: ilhpp-popup-desktop-top-out 0.2s ease forwards !important;
    }

    &::before {
      border-top: @popup-pointer-width solid var(--background-color-interactive, #eaecf0);
      bottom: -@popup-pointer-width * 2;
    }
  }

  &--bottom {
    animation: ilhpp-popup-desktop-bottom-in 0.2s ease forwards;

    &.ilhpp-popup-desktop--out {
      animation: ilhpp-popup-desktop-bottom-out 0.2s ease forwards !important;
    }

    &::before {
      border-bottom: @popup-pointer-width solid var(--background-color-base, #fff);
      top: -@popup-pointer-width * 2;
    }
  }

  &--left {
    &::before {
      right: @popup-pointer-short-side-length - @popup-pointer-width;
    }
  }

  &--right {
    &::before {
      left: @popup-pointer-short-side-length - @popup-pointer-width;
    }
  }

  &__header {
    display: flex;
    overflow: hidden;

    &::before {
      flex: 0 0 auto;
      display: inline-block;
      content: '';
      width: 18px;
      height: 18px;
      margin-left: -2px; // Align icon real boundary with text
      margin-right: 4px;
      mask: url(../assets/article_ltr.svg) no-repeat center / contain;
      background-color: var(--color-base, #202122);
    }

    font-size: 1.125em;
    font-weight: bold;
    margin: @popup-margin-base @popup-margin-base 0;
  }

  &__subheader {
    font-size: @font-size-small;
    color: var(--color-subtle, #54595d);
    margin: 0;
    margin-left: @popup-margin-base + 18px - 2px + 4px;
    // margin-left: @popup-margin-base;
  }

  // Increase selector specificity
  & &__extract {
    position: relative;
    display: block;
    color: inherit;
    margin: @popup-margin-thin @popup-margin-base 0;
    max-height: @popup-line-height * 7; // Show a fixed number of lines
    overflow: hidden;

    &--fixed {
      height: @popup-line-height * 7; // Show a fixed number of lines
    }

    &--loading {
      background: linear-gradient(to right,
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0.5) 50%,
          rgba(255, 255, 255, 0) 80%),
        lightgray;
      background-repeat: repeat-y;
      background-size: 200px 50px;
      background-position: 0 0;
    }

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      color: inherit;
    }

    p {
      margin: 0;
    }

    &__more {
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: @font-size-small;
      width: 40%;
      text-align: right;
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0), var(--background-color-base, #fff) 50%);
    }
  }

  &__cta {
    display: flex;
    align-items: center;
    overflow: hidden;

    background-color: var(--background-color-neutral, #eaecf0);
    padding: @popup-margin-thin @popup-margin-base ;
    //padding-top: 4px;
    margin-top: @popup-margin-thin;
    font-size: @font-size-small;
    line-height: @popup-line-height * unit(@font-size-small);

    &::before {
      flex: 0 0 auto;
      display: inline-block;
      content: '';
      width: 18px;
      height: 18px;
      margin-left: -2px; // Align icon real boundary with text
      margin-right: 4px;
      mask: url(../assets/add_article.svg) no-repeat center / contain;
      background-color: var(--color-base, #202122);
    }


    // TODO: unfinished
    &__settings {
      border: 0;
      height: 24px;
      width: 24px;
      // margin-left: 4px;
      margin-right: -6px;
      border-radius: 2px;

      display: flex;
      justify-content: center;
      align-items: center;

      &::before {
        content: '';
        display: inline-block;
        width: 18px;
        height: 18px;
        mask: url(../assets/settings.svg) no-repeat center / contain;
        background-color: var(--color-base, #202122);
      }
    }
  }
}
